### 安装pymongo模块

In [ ]:
!pip install pymongo

### 连接mongodb数据库

In [1]:
from pymongo import MongoClient
client = MongoClient()
#创建数据库，两种方式
db = client.peopleinfo     #方式一
# db = client['peopleinfo']  #方式二
#创建数据表，两种方式
collection = db.person
# collection = db['person']

### 插入数据

In [19]:
data = {'id':123, 'name':'Neil', 'age':80, 'sex':'male'}
collection.insert_one(data)

### 更新数据

In [15]:
collection.update_many({'sex':'male'}, {'$set':{'age':20}})

### 删除数据

In [17]:
collection.delete_one({'name':'Neil'})#删除名字为Neil的记录

### 查找数据

In [25]:
cursor = collection.find()#返回集合col中的所有内容
print(cursor)
for item in cursor:
    print(item)
# content = collection.find({'age':20})#查找所有年龄为20的记录信息

<pymongo.cursor.Cursor object at 0x000001EA0A0A5788>
{'_id': ObjectId('5e7b1990fd8e8851752b4114'), 'id': 123, 'name': 'Neil', 'age': 20, 'sex': 'male'}
{'_id': ObjectId('5e7b19c4fd8e8851752b4116'), 'id': 123, 'name': 'Neil', 'age': 20, 'sex': 'male'}
{'_id': ObjectId('5e7b19e3fd8e8851752b4117'), 'id': 123, 'name': 'Neil', 'age': 20, 'sex': 'male'}
{'_id': ObjectId('5e7b1b2dfd8e8851752b4118'), 'id': 123, 'name': 'Neil', 'age': 80, 'sex': 'male'}

In [ ]:
collection转化为pandas的dataframe

In [35]:
import pandas as pd
cursor = collection.find()##.limit(10)
df = pd.DataFrame(list(cursor))
print(df)

                        _id   id  name  age   sex
0  5e7b1990fd8e8851752b4114  123  Neil   20  male
1  5e7b19c4fd8e8851752b4116  123  Neil   20  male
2  5e7b19e3fd8e8851752b4117  123  Neil   20  male
3  5e7b1b2dfd8e8851752b4118  123  Neil   80  male

### pandas的dataframe插入到collection

In [ ]:
db.set2.insert_many(df.to_dict(orient='records'))